<h1><%= @recipe.name%></h1>
<h3><%= "Yield: #{@recipe.yield} servings"  %></h3>
<h3><%= "Total Cooking Time: #{@recipe.total_cooking_time} minutes"  %></h3>
<h3>Ingredients: </h3>
<ul><% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
  <li><%= "#{recipe_ingredient.quantity_and_measurement} of "%><%=link_to recipe_ingredient.ingredient.name, ingredient_path(recipe_ingredient.ingredient)%> </li>
  <%end%>
</ul>

<h3>Directions:</h3>
<p> <%=@recipe.directions  %></p>
