<% if flash[:error]%>
  <ul><% flash[:error].each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<h1>Ingredients</h1>

<h3>Currently in stock:</h3>
  <% if @ingredients_in_stock.empty? %>
    <p> It looks like you're out of just about everything! Time to make a grocery list and pick a few things up.</p>
  <% else  %>
    <ul><% @ingredients_in_stock.each do |ingredient| %>
      <li><%= link_to ingredient.name, ingredient_path(ingredient)%> - Out of stock</li>
      <% end %>
    </ul>
  <% end %>
<br>
<h3>Grocery list:</h3>
<% if @grocery_list.empty? %>
  <p> Grocery list is currently blank.</p>
<% else  %>
  <ul><% @grocery_list.each do |ingredient| %>
    <li><%= link_to ingredient.name.capitalize, ingredient_path(ingredient)%>
      <%= form_for (ingredient.to_pantry_item(@user.id) || @pantry_item) do |f|%>
      <%= f.number_field :user_id, type: :hidden %>
      <%= f.number_field :ingredient_id, value: "#{ingredient.id}", type: :hidden %>
      <%= f.text_field :in_stock, value: true, type: :hidden %>
      <%= text_field_tag :source, nil, value: "ingredients_path", type: :hidden%>
      <%= f.submit "Buy Ingredient"%>
      <% end %>
    </li>
    <br>
    <% end %>
  </ul>
  <%= form_tag "/pantry_items/groceries" %>
  <%= text_field_tag :source, nil, value: "ingredients_path", type: :hidden%>
  <%= submit_tag "Buy All Groceries" %>
<% end %>
<br>

<h3>Other available ingredients:</h3>
  <% if @other_ingredients.empty? %>
    <p> As odd as it sounds, you currently have all available ingredients in your pantry. Can you believe that? Well done! Now, to get cooking....</p>
  <% else  %>
  <ul><% @other_ingredients.each do |ingredient| %>
    <li><%= link_to "#{ingredient.name}", ingredient_path(ingredient) %> - Add to Pantry - Add To Grocery list</li>
    <% end %>
  </ul>
  <% end %>
