<h1>My Pantry</h1>

<h3>Currently in stock:</h3>
  <% if @ingredients_in_stock.empty? %>
    <p> It looks like you're out of just about everything! Time to make a grocery list and pick a few things up.</p>
  <% else  %>
    <% @ingredients_in_stock.each do |ingredient| %>
    <div class="container">
      <div style ='float: left; padding: 5px;'>
        <%= link_to ingredient.name.capitalize, ingredient_path(ingredient)%>
      </div>
        <div style ='float: left; padding: 5px;'>
          <%= form_for (ingredient.to_pantry_item(@user.id) || @pantry_item) do |f|%>
          <%= f.number_field :user_id, type: :hidden %>
          <%= f.number_field :ingredient_id, value: "#{ingredient.id}", type: :hidden %>
          <%= f.text_field :in_stock, value: false, type: :hidden %>
          <%= text_field_tag :source, nil, value: "ingredients_path", type: :hidden%>
          <%= f.submit "Out of Stock, Add to Grocery List"%>
          <% end %>
        </div>
      </div>
      <% end %>
  <% end %>
<br>
<h3>Grocery list:</h3>
<% if @grocery_list.empty? %>
  <p> Grocery list is currently blank.</p>
<% else  %>
<% @grocery_list.each do |ingredient| %>
    <div class="container">
      <div style ='float: left; padding: 5px;'>
    <%= link_to ingredient.name.capitalize, ingredient_path(ingredient)%>
    </div>
      <div style ='float: left; padding: 5px;'>
      <%= form_for (ingredient.to_pantry_item(@user.id) || @pantry_item) do |f|%>
      <%= f.number_field :user_id, type: :hidden %>
      <%= f.number_field :ingredient_id, value: "#{ingredient.id}", type: :hidden %>
      <%= f.text_field :in_stock, value: true, type: :hidden %>
      <%= text_field_tag :source, nil, value: "ingredients_path", type: :hidden%>
      <%= f.submit "Buy Ingredient"%>
      <% end %>
    </div>
  </div>
    <% end %>
  <%= form_tag "/pantry_items/groceries" do %>
  <%= text_field_tag :source, nil, value: "ingredients_path", type: :hidden%>
  <%= submit_tag "Buy All Groceries" %>
  <% end %>
<% end %>
<br>
